# Enable monitoring via Prometheus Operator
monitoring:
  # Set to true to create prometheus monitoring opjects
  enabled: false
  # Configuration for the default Grafana dashboard
  dashboard:
    # Enable deployment of the Grafana dashboard
    enabled: true
linstorSatelliteConfigurations:
  - name: talos-loader-override
    podTemplate:
      spec:
        initContainers:
          - name: drbd-shutdown-guard
            $patch: delete
          - name: drbd-module-loader
            $patch: delete
        volumes:
          - name: run-systemd-system
            $patch: delete
          - name: run-drbd-shutdown-guard
            $patch: delete
          - name: systemd-bus-socket
            $patch: delete
          - name: lib-modules
            $patch: delete
          - name: usr-src
            $patch: delete
          - name: etc-lvm-backup
            hostPath:
              path: /var/etc/lvm/backup
              type: DirectoryOrCreate
          - name: etc-lvm-archive
            hostPath:
              path: /var/etc/lvm/archive
              type: DirectoryOrCreate
