apiVersion: source.extensions.fluxcd.io/v1beta1
kind: ArtifactGenerator
metadata:
  name: monorepo
spec:
  sources:
    - alias: monorepo
      kind: GitRepository
      name: flux-system
  artifacts:
    - name: apps
      copy:
        - from: "@monorepo/kubernetes/apps/**"
          to: "@artifact/"
    - name: infra
      copy:
        - from: "@monorepo/kubernetes/infra/**"
          to: "@artifact/"
    - name: root
      copy:
        - from: "@monorepo/kubernetes/clusters/home/**"
          to: "@artifact/"
