apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: rabbitmq-operator
  namespace: flux-system
spec:
  interval: 1h
  url: https://github.com/rabbitmq/cluster-operator
  ref:
    tag: v2.17.0
---
apiVersion: source.extensions.fluxcd.io/v1beta1
kind: ArtifactGenerator
metadata:
  name: flux-system
  namespace: flux-system
spec:
  sources:
    - alias: monorepo
      kind: GitRepository
      name: flux-system
    - alias: rbmq
      kind: GitRepository
      name: flux-system
  artifacts:
    - name: rbmq-test
      copy:
        - from: "@rbmq/"
          to: "@artifact/"
    - name: infra
      originRevision: "@monorepo"
      copy:
        - from: "@monorepo/kubernetes/infra/**"
          to: "@artifact/"
        - from: "@monorepo/kubernetes/components/**"
          to: "@artifact/components/"
    - name: apps
      originRevision: "@monorepo"
      copy:
        - from: "@monorepo/kubernetes/apps/**"
          to: "@artifact/"
        - from: "@monorepo/kubernetes/components/**"
          to: "@artifact/components/"
