resources:
  - artifacts.yaml
  - ks.yaml
patches:
  - target:
      kind: Kustomization
    patch: |
      apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
      kind: Kustomization
      metadata:
        name: all
      spec:
        patches:
        - target:
            kind: HelmRelease
          patch: |
            apiVersion: helm.toolkit.fluxcd.io/v2
            kind: HelmRelease
            metadata:
              name: all
            spec:
              driftDetection:
                mode: warn
