# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/cilium.io/ciliumnetworkpolicy_v2.json
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: home-assistant
spec:
  description: "Network policies for home-assistant"
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: home-assistant
  ingress:
    - fromEntities:
        - ingress
      toPorts:
        - ports:
            - port: "8123"
  egress:
    - toEndpoints:
        - matchLabels:
            k8s:io.kubernetes.pod.namespace: home-assistant
            k8s:app.kubernetes.io/name: mosquitto
      toPorts:
        - ports:
            - port: "1883"
    # - toCIDRSet:
    #     - cidr: "0.0.0.0/0"
    #       except: ["192.168.68.0/23"]
    - toFQDNs:
        - matchName: met.no
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
          rules:
            dns:
              - matchPattern: "*"
