controllers:
  home-assistant:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/home-assistant
          tag: 2026.1.2@sha256:9587276dcc680f8210115015508cd02d19f6921cdbff6bf119453fc4a8e10969
        env:
          TZ: Europe/Amsterdam
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
            memory: 1Gi
          limits:
            memory: 1Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    fsGroup: 65534
    fsGroupChangePolicy: OnRootMismatch
service:
  app:
    ports:
      http:
        appProtocol: kubernetes.io/ws
        port: 8123
# serviceMonitor:
#   app:
#     endpoints:
#       - port: http
route:
  app:
    hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
    parentRefs:
      - name: internal
        namespace: network
        sectionName: https
    # rules:
    #   - backendRefs:
    #       - identifier: app
    #         port: *port
persistence:
  config:
    type: persistentVolumeClaim
    storageClass: ssd-lvm-thin-1
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
  tmp:
    type: emptyDir
