# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.6.2/charts/library/common/values.schema.json
controllers:
  home-assistant:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/home-assistant
          tag: 2026.2.3@sha256:d73c9c53a8562e12211f24fd7303c422051220636972485df291dbec885d8a3d
        env:
          TZ: Europe/Amsterdam
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
            memory: 1Gi
          limits:
            memory: 1Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    fsGroup: 65534
    fsGroupChangePolicy: OnRootMismatch
service:
  app:
    ports:
      http:
        appProtocol: kubernetes.io/ws
        port: 8123
# serviceMonitor:
#   app:
#     endpoints:
#       - port: http
route:
  app:
    hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
    parentRefs:
      - name: external
        namespace: network
        # rules:
        #   - backendRefs:
        #       - identifier: app
        #         port: *port
persistence:
  config:
    type: persistentVolumeClaim
    storageClass: ssd-lvm-thin-1
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
  tmp:
    type: emptyDir
