monitoring:
  enabled: true
linstorCluster:
  linstorPassphraseSecret: linstor-passphrase
  controller:
    podTemplate:
      spec:
        containers:
          - name: linstor-controller
            resources:
              requests:
                cpu: 30m
              limits:
                memory: 586Mi
  affinityController:
    podTemplate:
      spec:
        containers:
          - name: linstor-affinity-controller
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 20Mi
  highAvailabilityController:
    podTemplate:
      spec:
        containers:
          - name: ha-controller
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 32Mi
  nfsServer:
    podTemplate:
      spec:
        containers:
          - name: nfs-server
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
  csiNode:
    podTemplate:
      spec:
        containers:
          - name: linstor-csi
            image: quay.io/piraeusdatastore/piraeus-csi:v1.10.5
            args:
              - --log-level=debug
              - --csi-endpoint=unix:///csi/csi.sock
              - --node=$(KUBE_NODE_NAME)
              - --property-namespace=Aux/topology
              - --label-by-storage-pool=false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
          - name: csi-node-driver-registrar
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 32Mi
          - name: csi-livenessprobe
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 32Mi
  csiController:
    podTemplate:
      spec:
        containers:
          - name: linstor-csi
            image: quay.io/piraeusdatastore/piraeus-csi:v1.10.5
            args:
              - --log-level=debug
              - --csi-endpoint=unix://$(ADDRESS)
              - --property-namespace=$(PROPERTY_NAMESPACE)
              - --label-by-storage-pool=$(LABEL_BY_STORAGE_POOL)
              - --enable-rwx=$(ENABLE_RWX)
              - --nfs-reactor-config-map-name=$(NFS_REACTOR_CONFIG_MAP_NAME)
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 50Mi
          - name: csi-attacher
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 50Mi
          - name: csi-livenessprobe
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 50Mi
          - name: csi-provisioner
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 50Mi
          - name: csi-snapshotter
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 50Mi
          - name: csi-resizer
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 50Mi
          - name: csi-health-monitor
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 50Mi
linstorSatelliteConfigurations:
  - name: talos-loader-override
    podTemplate:
      spec:
        containers:
          - name: linstor-satellite
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 350Mi
          - name: drbd-reactor
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 20Mi
        initContainers:
          - name: drbd-shutdown-guard
            $patch: delete
          - name: drbd-module-loader
            $patch: delete
        volumes:
          - name: run-systemd-system
            $patch: delete
          - name: run-drbd-shutdown-guard
            $patch: delete
          - name: systemd-bus-socket
            $patch: delete
          - name: lib-modules
            $patch: delete
          - name: usr-src
            $patch: delete
          - name: etc-lvm-backup
            hostPath:
              path: /var/etc/lvm/backup
              type: DirectoryOrCreate
          - name: etc-lvm-archive
            hostPath:
              path: /var/etc/lvm/archive
              type: DirectoryOrCreate
  - name: storage
    nodeSelector:
      piraeus.io/storage: "true"
    storagePools:
      - name: lvm-thin
        lvmThinPool:
          volumeGroup: vg1
          thinPool: thin
        source:
          hostDevices:
            - /dev/sdb
