args:
  - --kubelet-insecure-tls
  - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
  - --kubelet-use-node-status-port
  - --metric-resolution=10s
  - --kubelet-request-timeout=2s
metrics:
  enabled: true
serviceMonitor:
  enabled: true
resources:
  requests:
    cpu: 10m
    memory: 60Mi
  limits:
    memory: 60Mi
