apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-volume
spec:
  storageClassName: ssd-lvm-thin-1
  resources:
    requests:
      storage: 4Gi
  accessModes:
    - ReadWriteOnce
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jan-site
  labels:
    app: jan-site
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jan-site
  template:
    metadata:
      labels:
        app: jan-site
    spec:
      containers:
        - name: nginx
          image: docker.io/nginx:1.28.1-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: 20m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
      volumes:
        - name: html
          configMap:
            name: jan-site
            items:
              - key: index.html
                path: index.html
        - name: data
          persistentVolumeClaim:
            claimName: data-volume
---
apiVersion: v1
kind: Service
metadata:
  name: jan-site
spec:
  selector:
    app: jan-site
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: jan-site
spec:
  hostnames: ["jan.${SECRET_DOMAIN}"]
  parentRefs:
    - name: external
      namespace: network
  rules:
    - backendRefs:
        - name: jan-site
          port: 80
