# yaml-language-server: $schema=https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/values.schema.json
resources:
  limits:
    memory: 440Mi
  requests:
    cpu: 150m
    memory: 440Mi
extraConfig:
  policy-audit-mode: "true"
autoDirectNodeRoutes: true
bpf:
  masquerade: true
  # Ref: https://github.com/siderolabs/talos/issues/10002
  hostLegacyRouting: true
cni:
  # Required for pairing with Multus CNI
  exclusive: false
cgroup:
  automount:
    enabled: false
  hostRoot: /sys/fs/cgroup
# NOTE: devices might need to be set if you have more than one active NIC on your hosts
# devices: eno+ eth+
dashboards:
  enabled: true
encryption:
  enabled: true
  type: wireguard
endpointRoutes:
  enabled: true
envoy:
  enabled: true
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 30m
      memory: 256Mi
  rollOutPods: true
  prometheus:
    serviceMonitor:
      enabled: true
gatewayAPI:
  enabled: true
hubble:
  enabled: true
  metrics:
    enabled: []
    serviceMonitor:
      enabled: true
    dashboards:
      enabled: true
    enableOpenMetrics: true
    dynamic:
      enabled: true
      config:
        configMapName: cilium-dynamic-metrics-config
        createConfigMap: false
  relay:
    enabled: true
  ui:
    enabled: true
ipam:
  mode: kubernetes
ipv4NativeRoutingCIDR: "10.42.0.0/16"
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
l2announcements:
  enabled: true
loadBalancer:
  algorithm: maglev
  mode: "dsr"
localRedirectPolicy: true
operator:
  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 10m
      memory: 512Mi
  dashboards:
    enabled: true
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  replicas: 1
  rollOutPods: true
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
rollOutCiliumPods: true
routingMode: native
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
socketLB:
  hostNamespaceOnly: true
