# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/monitoring.coreos.com/prometheusrule_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: kube-prometheus-stack-pv-retain
spec:
  groups:
    - name: pv-retain.rules
      rules:
        - alert: PVRetainReleased
          annotations:
            summary: "Retained PV is released"
            description: "PV {{ $labels.persistentvolume }} is Released with Retain policy."
          expr: |
            kube_persistentvolume_status_phase{phase="Released"} == 1
            and on (persistentvolume)
            kube_persistentvolume_reclaim_policy{reclaim_policy="Retain"} == 1
          for: 10m
          labels:
            severity: warning
