# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 81.6.9
    digest: sha256:da95a1280d3b9a2f6d7ec6a0168da9d4f6dcacc2f23778c250e443cd28e7074e
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
