grafana:
  enabled: false
  forceDeployDatasources: true
  forceDeployDashboards: true
  operator:
    dashboardsConfigMapRefEnabled: true
    matchLabels:
      dashboards: grafana
    folder: kube-prometheus-stack
  defaultRules:
    rules:
      kubeProxy: false
  defaultDashboardsTimezone: Europe/Amsterdam
  defaultDashboardsEditable: false
kubeProxy:
  enabled: false
prometheus:
  prometheusSpec:
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false
    enableFeatures:
      - exemplar-storage
    resources:
      requests:
        cpu: 150m
      limits:
        memory: 2Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ssd-lvm-thin-1
          resources:
            requests:
              storage: 16Gi
nodeExporter:
  operatingSystems:
    aix:
      enabled: false
    darwin:
      enabled: false
kube-state-metrics:
  resources:
    requests:
      cpu: 10m
    limits:
      memory: 100Mi
prometheusOperator:
  resources:
    requests:
      cpu: 35m
    limits:
      memory: 100Mi
alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 64Mi
prometheus-node-exporter:
  resources:
    requests:
      cpu: 10m
    limits:
      memory: 32Mi
