grafana:
  enabled: false
  forceDeployDatasources: true
  forceDeployDashboards: true
  operator:
    dashboardsConfigMapRefEnabled: true
    matchLabels:
      dashboards: grafana
    folder: kube-prometheus-stack
  defaultRules:
    rules:
      kubeProxy: false
  defaultDashboardsTimezone: Europe/Amsterdam
  defaultDashboardsEditable: false
kubeProxy:
  enabled: false
prometheus:
  prometheusSpec:
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false
    resources:
      requests:
        cpu: 150m
      limits:
        memory: 1200Mi
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 5Gi
kube-state-metrics:
  resources:
    requests:
      cpu: 10m
    limits:
      memory: 100Mi
prometheusOperator:
  resources:
    requests:
      cpu: 35m
    limits:
      memory: 100Mi
# alertmanager:
#   alertmanagerSpec:
#     resources:
#       requests:
#         cpu: 10m
#       limits:
#         memory: 64Mi
prometheus-node-exporter:
  resources:
    requests:
      cpu: 10m
    limits:
      memory: 32Mi
