# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.6.2/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: wordpress
          tag: 6
        env:
          - name: WORDPRESS_DB_HOST
            value: mysql.mysql.svc.cluster.local
          - name: WORDPRESS_DB_NAME
            value: phela
          - name: WORDPRESS_DB_USER
            value: phela
          - name: WORDPRESS_DB_PASSWORD
            secretKeyRef:
              name: mysql-credentials
              key: PASSWORD
service:
  main:
    ports:
      http:
        port: 80
        protocol: TCP
route:
  main:
    parentRefs:
      - name: internal
        namespace: network
        sectionName: https
    hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
  second:
    parentRefs:
      - name: internal
        namespace: network
        sectionName: http
    hostnames: ["phela-intelligence.com"]
persistence:
  wordpress-data:
    type: persistentVolumeClaim
    storageClass: ssd-lvm-thin-1
    accessMode: ReadWriteOnce
    size: 4Gi
    advancedMounts:
      main:
        main:
          - path: /var/www/html
            readOnly: false
