# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.6.2/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: wordpress
          tag: php8.4
        env:
          - name: WORDPRESS_DB_HOST
            value: mysql.mysql.svc.cluster.local
          - name: WORDPRESS_DB_NAME
            value: phela
          - name: WORDPRESS_DB_USER
            value: phela
          - name: WORDPRESS_DB_PASSWORD
            secretKeyRef:
              name: mysql-credentials
              key: PASSWORD
service:
  main:
    ports:
      http:
        port: 80
        protocol: TCP
route:
  main:
    parentRefs:
      - name: internal
        namespace: network
        sectionName: http
    hostnames: ["phela-intelligence.com"]
