# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.6.2/charts/library/common/values.schema.json
#TODO:: Change the password to sensitive secret
controllers:
  mysql:
    containers:
      db:
        image:
          repository: mysql
          tag: 8.0.45-debian
        env:
          - name: MYSQL_ROOT_PASSWORD
            value: password
        ports:
          - containerPort: 3306
            name: mysql
  wordpress:
    containers:
      wordpress:
        image:
          repository: wordpress
          tag: php8.4
        env:
          - name: WORDPRESS_DB_HOST
            value: mysql
          - name: WORDPRESS_DB_USER
            value: root
          - name: WORDPRESS_DB_PASSWORD
            value: password
          - name: WORDPRESS_DB_NAME
            value: wordpress
persistence:
  mysql-data:
    type: persistentVolumeClaim
    storageClass: ssd-lvm-thin-1
    accessMode: ReadWriteOnce
    size: 512Mi
    advancedMounts:
      mysql:
        mysql:
          - path: /var/lib/mysql
            readOnly: false
service:
  wordpress:
    controller: wordpress
    ports:
      http:
        port: 80
        protocol: TCP
  db:
    controller: mysql
    ports:
      http:
        port: 3306
        protocol: TCP
route:
  wordpress:
    hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
    rules:
      - name: main
        backendRefs:
          - name: wordpress
    parentRefs:
      - name: internal
        namespace: network
        sectionName: https
