# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.6.2/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: docker.io/wordpress
          tag: 6.9.1@sha256:1b5fee9f90d12c7fcba8b0bcb0f9d94166daa1086b7559def66d62e5c9b7c947
        env:
          - name: WORDPRESS_DB_HOST
            value: mysql.mysql.svc.cluster.local
          - name: WORDPRESS_DB_NAME
            value: phela
          - name: WORDPRESS_DB_USER
            value: phela
          - name: WORDPRESS_DB_PASSWORD
            secretKeyRef:
              name: mysql-credentials
              key: PASSWORD
service:
  main:
    ports:
      http:
        port: 80
        protocol: TCP
route:
  main:
    parentRefs:
      - name: external
        namespace: network
    hostnames: ["phela-intelligence.com"]
persistence:
  wordpress-data:
    type: persistentVolumeClaim
    storageClass: ssd-lvm-thin-1
    accessMode: ReadWriteOnce
    size: 4Gi
    retain: true
    advancedMounts:
      main:
        main:
          - path: /var/www/html
            readOnly: false
