# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.6.2/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: wordpress
          tag: php8.4
        env:
          - name: WORDPRESS_DB_HOST
            value: phela-db
          # - name: WORDPRESS_DB_USER
          #   secretKeyRef:
          #     name: mysql-credentials
          #     key: MYSQL_USER
          # - name: WORDPRESS_DB_PASSWORD
          #   secretKeyRef:
          #     name: mysql-credentials
          #     key: MYSQL_PASSWORD
          # - name: WORDPRESS_DB_NAME
          #   secretKeyRef:
          #     name: mysql-credentials
          #     key: MYSQL_DATABASE
service:
  main:
    ports:
      http:
        port: 80
        protocol: TCP
route:
  main:
    parentRefs:
      - name: internal
        namespace: network
        sectionName: https
    hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
