# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app rabbitmq-operator
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  path: ./config/installation
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: rabbitmq-operator
  timeout: 5m
  wait: false
  patches:
    - patch: |-
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: all
        spec:
          template:
            spec:
              containers:
                - name: operator
                  resources:
                    requests:
                      cpu: 10m
                      memory: 50Mi
                    limits:
                      memory: 50Mi
      target:
        kind: Deployment
        name: rabbitmq-cluster-operator
