# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana-operator
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 5.21.4@sha256:e0ca50ad181d2f9826150db901c1ff2a358eb99091611ac6a8f7a6f7f070fac7
  url: oci://ghcr.io/grafana/helm-charts/grafana-operator
