# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: kubernetes
talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"
endpoint: https://192.168.69.5:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.69.5"
additionalMachineCertSans: *sans
clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]
# Disable built-in CNI to use Cilium
cniConfig:
  name: none
nodes:
  - hostname: "c-00"
    ipAddress: "192.168.68.134"
    nodeLabels:
      piraeus.io/storage: "true"
      linstor.io/storage: "true"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
      mode: nocloud
      arch: amd64
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:e2:db:01"
        dhcp: true
        vip:
          ip: "192.168.69.5"
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
            # - siderolabs/zfs
  - hostname: "c-01"
    ipAddress: "192.168.68.142"
    installDisk: "/dev/sda"
    nodeLabels:
      piraeus.io/storage: "true"
      linstor.io/storage: "true"
    machineSpec:
      secureboot: false
      mode: nocloud
      arch: amd64
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:a4:87:bb"
        dhcp: true
        vip:
          ip: "192.168.69.5"
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
  - hostname: "rpi-00"
    ipAddress: "192.168.68.110"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
      mode: metal
      arch: arm64
    schematic:
      overlay:
        options:
          # https://docs.siderolabs.com/talos/v1.10/platform-specific-installations/single-board-computers/rpi_generic#configure-the-config-txt-file-for-usage-with-the-vc4-system  extension
          configTxt: |
            gpu_mem=256
            kernel=u-boot.bin
            arm_64bit=1
            arm_boost=1
            enable_uart=1
            dtoverlay=disable-bt
            dtoverlay=disable-wifi
            avoid_warnings=2
            dtoverlay=vc4-kms-v3d,noaudio
        image: siderolabs/sbc-raspberrypi
        name: rpi_generic
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/vc4
            - siderolabs/drbd
    # talosImageURL: factory.talos.dev/installer/b882a159b77ed3ecea434ddfa29f68599e72749c94c6e3e2b66b3121e6624a22
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "dc:a6:32:eb:ff:81"
        dhcp: true
        vip:
          ip: "192.168.69.5"
  # TODO:: add user volume
  - hostname: "c-02"
    ipAddress: "192.168.68.137"
    installDisk: "/dev/nvme0n1"
    machineSpec:
      secureboot: true
      mode: metal
      arch: amd64
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "38:05:25:34:67:7e"
        dhcp: true
        vip:
          ip: "192.168.69.5"
    schematic:
      customization:
        extraKernelArgs:
          - amd_iommu=off
          - amdgpu.gttsize=126976
          - ttm.pages_limit=32505856
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
            - siderolabs/amdgpu
            - siderolabs/amd-ucode
    patches:
      - "@./patches/c-02/system-disk-ssd-1.yaml"
      - "@./patches/c-02/raw-volume-ssd-0.yaml"
# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"
# Controller patches
controlPlane:
  kernelModules:
    - name: drbd
      parameters:
        - usermode_helper=disabled
    - name: drbd_transport_tcp
    # LVM_THIN storage pools require this module
    - name: dm-thin-pool
      # ZFS storage pools require this module from the ZFS extension
      # - name: zfs
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"
