# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: mosquitto
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 4.6.2
    digest: sha256:1bf84c8236b2346c49a21de13180e3e46eb5be34edf79f50e90bc1923721af0e
  url: oci://ghcr.io/bjw-s-labs/helm/app-template
