# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: home-assistant
  valuesFrom:
    - kind: ConfigMap
      name: values-home-assistant
    - kind: ConfigMap
      name: values-home-assistant
      valuesKey: env-values.yaml
