# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mysql-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: mysql-operator
      version: 2.2.7
      sourceRef:
        kind: HelmRepository
        name: mysql-operator
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: values-mysql-operator
    - kind: ConfigMap
      name: values-mysql-operator
      valuesKey: env-values.yaml
