instance:
  distribution:
    # renovate: datasource=github-releases depName=controlplaneio-fluxcd/distribution
    version: 2.7.5
  cluster:
    size: small
    networkPolicy: false
  components:
    - source-controller
    - source-watcher
    - kustomize-controller
    - helm-controller
    - notification-controller
  sync:
    kind: GitRepository
    url: "https://github.com/Lingkar/home-ops.git"
    ref: "refs/heads/main"
    path: kubernetes/clusters/home
  commonMetadata:
    labels:
      app.kubernetes.io/name: flux
  kustomize:
    patches:
      - # Increase the number of workers
        target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --requeue-dependency=5s
      # Set resources
      - target:
          kind: Deployment
          name: helm-controller
        patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: all
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      requests:
                        cpu: 70m
                        memory: 400Mi
                      limits:
                        memory: 400Mi
      - target:
          kind: Deployment
          name: kustomize-controller
        patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: all
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      requests:
                        cpu: 300m
                        memory: 400Mi
                      limits:
                        memory: 400Mi
      - target:
          kind: Deployment
          name: notification-controller
        patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: all
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      requests:
                        cpu: 10m
                        memory: 70Mi
                      limits:
                        memory: 70Mi
      - target:
          kind: Deployment
          name: source-controller
        patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: all
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      requests:
                        cpu: 300m
                        memory: 180Mi
                      limits:
                        memory: 180Mi
      - target:
          kind: Deployment
          name: source-watcher
        patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: all
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      requests:
                        cpu: 10m
                        memory: 50Mi
                      limits:
                        memory: 50Mi
      # - target:
      #     kind: Deployment
      #     name: (kustomize-controller|helm-controller|source-controller)
      #   patch: |
      #     apiVersion: apps/v1
      #     kind: Deployment
      #     metadata:
      #       name: all
      #     spec:
      #       template:
      #         spec:
      #           containers:
      #             - name: manager
      #               resources:
      #                 requests:
      #                   cpu:
      #                 limits:
      #                   memory: 1Gi
      - # Enable in-memory kustomize builds
        target:
          kind: Deployment
          name: kustomize-controller
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=20
          - op: replace
            path: /spec/template/spec/volumes/0
            value:
              name: temp
              emptyDir:
                medium: Memory
      - # Enable Helm repositories caching
        target:
          kind: Deployment
          name: source-controller
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-max-size=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-ttl=60m
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-purge-interval=5m
      - # Flux near OOM detection for Helm
        target:
          kind: Deployment
          name: helm-controller
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=OOMWatch=true
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-memory-threshold=95
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-interval=500ms
      - # Disable chart digest tracking
        target:
          kind: Deployment
          name: helm-controller
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=DisableChartDigestTracking=true
