kubectl:
  image:
    repository: public.ecr.aws/bitnami/kubectl #TODO:: Remove after https://github.com/vmware-tanzu/helm-charts/issues/698
    tag: latest
metrics:
  serviceMonitor:
    enabled: true
  prometheusRule:
    enabled: true
schedules: {}
