credentials:
  existingSecret: s3-credentials
configuration:
  features: EnableCSI
  garbageCollectionFrequency: 15m
  backupStorageLocation:
    - name: hetzner
      provider: aws
      bucket: buijnsters-home-backup
      prefix: velero
      default: true
      config:
        region: fsn1
        s3Url: https://fsn1.your-objectstorage.com
        s3ForcePathStyle: "true"
  volumeSnapshotLocation:
    - name: hetzner
      provider: aws
      credentials:
        name: s3-credentials
        key: cloud
      config:
        region: fsn1
schedules:
  # pv-snapshots:
  #   disabled: false
  #   schedule: "5 */4 * * *" # Back-up every fourth hour
  #   template:
  #     ttl: 10h
  #     excludedNamespaces: [] # Should exclude certain namespaces in the future
  #     includedResources:
  #       - pv
  #       - pvc
  pv-snapshots:
    disabled: false
    schedule: "*/30 * * * *" # Back-up every fourth hour
    template:
      ttl: 2h
      excludedNamespaces: [] # Should exclude certain namespaces in the future
      includedResources:
        - pv
        - pvc
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
metrics:
  serviceMonitor:
    enabled: true
  prometheusRule:
    enabled: true
    spec:
      - alert: VeleroBackupFailed
        annotations:
          message: Velero backup {{ $labels.schedule }} has failed
        expr: |-
          velero_backup_last_status{schedule!=""} != 1
        for: 15m
        labels:
          severity: warning
      - alert: VeleroBackupFailing
        annotations:
          message: Velero backup {{ $labels.schedule }} has been failing for the last 12h
        expr: |-
          velero_backup_last_status{schedule!=""} != 1
        for: 12h
        labels:
          severity: critical
      - alert: VeleroNoNewBackup
        annotations:
          message: Velero backup {{ $labels.schedule }} has not run successfully in the last 25h
        expr: |-
          (
          (time() - velero_backup_last_successful_timestamp{schedule!=""}) >bool (25 * 3600)
          or
          absent(velero_backup_last_successful_timestamp{schedule!=""})
          ) == 1
        for: 1h
        labels:
          severity: critical
      - alert: VeleroBackupPartialFailures
        annotations:
          message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} partialy failed backups
        expr: |-
          rate(velero_backup_partial_failure_total{schedule!=""}[25m])
            / rate(velero_backup_attempt_total{schedule!=""}[25m]) > 0.5
        for: 15m
        labels:
          severity: warning
kubectl:
  image:
    repository: public.ecr.aws/bitnami/kubectl #TODO:: Remove after https://github.com/vmware-tanzu/helm-charts/issues/698
    tag: latest
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: beta.kubernetes.io/arch
              operator: In
              values:
                - amd64
